@media only screen and (max-width: 768px){
body{
    margin: 0%;
    padding: 0%;
    background-color: #141d2f;
    color: white ;
}
.size{
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.head{
    width: 80%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    

}
.light{
    display: flex;
    /* border: 2px solid; */
    justify-content: center;
    gap: 1rem;
    
}
.light p {
    margin: auto;
    padding:auto;
}
.form1{
    background-color: #1e2a47;
    

    margin-top: 2rem;
    /* margin: 0 auto 16px; */
    width: 80%;
    height: 3rem;
    padding-left: 1rem;
    /* border: 2px solid; */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 37px -18px #000;
}
.form1 input{
    width:70%;
    background-color: #1e2a47;
    border: 0;
    
}
.form1 button{
    background-color: #0079ff;
    cursor: pointer;
    height: 100%;
    padding: 5px 10px;
    border-radius: 0.6rem;
    color: white;
    border:0 ;
}
.form1 button:hover{
    background-color: #0079ff;
    opacity: 0.5;
}
.image{
    width: 6rem;
    border-radius: 50%;
}
.card{
    background-color: #1e2a47;
    margin-top: 2rem;
    /* border: 2px solid; */
    border-radius: 0.6rem;
    width: 80%;
    box-shadow: 0 10px 37px -18px #000;
    display: grid;
    padding-left: 1rem;
}
.mini_card{
    display:flex;
    flex-direction:row;
    /* border: 2px solid; */
    margin-top: 1rem;
    gap: 1rem;
}
.table{
    width: 80%;
    /* border: 2px solid red; */
    background-color: #141d2f;
    border-radius: 1rem;
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    margin-left: 3rem;
    
    
}
.table h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}
}
@media only screen and (min-width: 768px){
body{
    margin: 0%;
    background-color: #141d2f;
    color: white ;
    padding-top: 5rem;
    padding-bottom: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;

}
.body1{
    background-color: #141d2f;
    color: white ;
}
.size{
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.head{
    width: 80%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    

}
.light{
    display: flex;
    /* border: 2px solid; */
    justify-content: center;
    gap: 1rem;
    
}
.light p {
    margin: auto;
    padding:auto;
}
.form1{
    margin-top: 2rem;
    /* margin: 0 auto 16px; */
    width: 80%;
    height: 3rem;
    padding-left: 1rem;
    /* border: 2px solid; */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 37px -18px #000;
}
.form1 input{
    width:70%;
    background-color: #1e2a47;
    border: 0;
    
}
.form1 button{
    background-color: #0079ff;
    cursor: pointer;
    height: 100%;
    padding: 5px 10px;
    border-radius: 0.6rem;
    color: white;
    border:0 ;
}
.form1 button:hover{
    background-color: #0079ff;
    opacity: 0.5;
}
.image{
    width: 6rem;
    border-radius: 50%;
}
.card{
    background-color: #1e2a47;
    margin-top: 2rem;
    /* border: 2px solid; */
    border-radius: 0.6rem;
    width: 80%;
    box-shadow: 0 10px 37px -18px #000;
    display: grid;
    padding-left: 1rem;
    padding-bottom: 2rem;
}
.mini_card{
    display:flex;
    flex-direction:row;
    /* border: 2px solid; */
    margin-top: 1rem;
    gap: 1rem;
}
.table{
    width: 80%;
    /* border: 2px solid red; */
    background-color: #141d2f;
    border-radius: 1rem;
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    margin-left: 3rem;
    
    
}
.table h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}
.icon_info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
}